@model IEnumerable<Doan.Models.categoryDetail>

@if (Model != null && Model.Any())
{
    <ul class="sidebar_categories">
        <li><a href="#">Tất cả</a></li>
        @foreach (var item in Model)
        {
            <li><a href="#">@item.catetory_name</a></li>
        }
    </ul>
}    