@{
    ViewBag.Title = "Giới thiệu";
}
<main>
    <div class="intro">
        <div class="intro-bg-in">
            <div class="intro-text">
                <p>
                    <span class="name">mămăm bakery</span> xin mến chào quý khách,
                </p>
                <p>
                    Chúng tôi mang đến những chiếc bánh chất lượng và độc đáo, cùng với chất lượng phục vụ tuyệt vời. Hãy để <span class="name">mămăm</span> thổi vào cuộc sống của bạn một chút ngọt ngào và hạnh phúc mỗi ngày!
                </p>

                <br></br>
                <p>
                    Chúng tôi không chỉ là cửa hàng bán bánh, mà còn là địa điểm lý tưởng cho những người yêu thưởng thức hương vị tinh tế và đẳng cấp của các loại bánh ngọt. <span class="name">mămăm bakery</span> tự hào về sự sáng tạo và đội ngũ đầu bếp chuyên nghiệp của mình, luôn nỗ lực tạo ra những sản phẩm chất lượng nhất, từng chiếc bánh là một tác phẩm nghệ thuật.
                </p>
                <br></br>
                <p>
                    Hãy ghé thăm <span class="name">mămăm bakery</span> tại: 99 Đ. Nguyễn Văn Nguyễn, Phường Tân Định, Quận 1, Thành phố Hồ Chí Minh. Hoặc để biết thêm các thông tin liên hệ khác, quý khách hàng vui lòng di chuyển đến thẻ LIÊN HỆ.
                </p>
                <br></br>
                <p class="quote">
                    <b>"Cuộc sống có thể ngọt ngào hơn bằng một miếng bánh!"</b>
                </p>
            </div>
        </div>
    </div>

</main>