@{
    ViewBag.Title = "Sản phẩm";
}
<main>
    <!--Phần chi tiết sản phẩm-->
    <div class="detail-bg">
        <div class="close-icon"><i class="fas fa-times"></i></div>
        <div class="detailContent">
            
        </div>
    </div>


    <!--Phần danh mục sản phẩm và các sản phẩm-->
    <div class="row">
        <div class="col-md-3">
            <!-- Sidebar -->
            <div class="sidebar">
                <div class="sidebar_title">
                    <h5>Danh mục sản phẩm</h5>
                </div>
            </div>
            @Html.Action("MenuProduct", "Home")
        </div>
        <div class="col-md-9">
            <!-- Vùng chứa ds sản phẩm và phân trang -->
            <div class="main_content">
                <!--Sản phẩm-->
                <div class="products">
                    <!--//ajax tải các sp (có thể theo loại)-->
                </div>
                <!--Phân trang-->
                <div style="margin-left:70%">
                    <ul class="pagination">
                        <!--ajax phân trang, mặc định mỗi trang hiện 6sp-->
                    </ul>
                </div>
            </div>
        </div>
    </div>

</main>


@section styles {
<style>
    .categoryLink.active-category {
        color: #fa6e4f; /* Màu chữ của danh mục sản phẩm đang được chọn */
    }
</style>
}

@section scripts{
    <script>
    $(document).ready(function () {
        LoadData(null, 1, 6);

        $('.categoryLink').click(function () {
            $('.categoryLink').removeClass('active-category');
            $(this).addClass('active-category');
            var categoryId = $(this).data('id');
            LoadData(categoryId, null, null);
        });

    });

    //Lấy dữ liệu hiển thị lên lưới sp
    /*function LoadData(id, page, pageSize) {
        $.ajax({
            url: '/Home/HienThiSP',
            type: 'GET',
            data: { id: id, page: page, pageSize: pageSize },
            success: function (res) {
                if (res.TotalItems > 0) {
                    var items = res.Data;
                    var html = "";
                    for (let i = 0; i < res.Data.length; i++) {
                        html += '<div class="product" data-id="items[i].product_id';
                        html += '<a href="/Product/' + items[i].product_id + '">';
                        html += '<img src="' + items[i].product_image + '" alt="' + items[i].product_name + '">';
                        html += '</a>';
                        html += '<p class="name"><a href="' + items[i].product_id + '" style="color: #fa6e4f">' + items[i].product_name + '</a></p>';
                        html += '<p class="price"><span>' + items[i].product_price + ' vnđ</span></p>';
                        html += '<p class="ingredients"> Thành phần: ' + items[i].product_ingredients + '</p>';
                        html += '<p class="view"><a href="/Product/' + items[i].product_id + '" style="color:#ffffff"><i class="fa-regular fa-eye bx bx-show" style="font-size:25px"></i></a></p>';
                        html += '<p class="cart"><a href="#" style="color:#ffffff"><i class="fa-solid fa-cart-shopping bx bx-cart-alt" style="font-size:25px"></i></a></p>';
                        html += '</div>';
                    }
                    $('.products').html(html);
                    Pagination(res.CurrentPage, res.NumberPages, res.PageSize);
                }
                else {
                    $('.products').html('<p class="name" style="color: #fa6e4f; font-size:22px">Hiện chưa có sản phẩm!</p>');
                    $('.pagination').html('');
                }

            }
        });
    }*/
    function LoadData(id, page, pageSize) {
        $.ajax({
            url: '/Home/HienThiSP',
            type: 'GET',
            data: { id: id, page: page, pageSize: pageSize },
            success: function (res) {
                if (res.TotalItems > 0) {
                    var items = res.Data;
                    var html = "";
                    for (let i = 0; i < res.Data.length; i++) {
                        html += '<div class="product" data-id="' + items[i].product_id + '">'
                        html += '<img src="' + items[i].product_image + '" alt="' + items[i].product_name + '">';
                        html += '<p class="name" style="color: #fa6e4f">' + items[i].product_name + '</a></p>';
                        html += '<p class="price"><span>' + items[i].product_price + ' vnđ</span></p>';
                        html += '<p class="ingredients"> Thành phần: ' + items[i].product_ingredients + '</p>';
                        html += '<p class="view"><a href="#" class="view-link" data-id="' + items[i].product_id + '" style="color:#ffffff"><i class="fa-regular fa-eye bx bx-show" style="font-size:25px"></i></a></p>';
                        html += '<p class="cart"><a href="#" style="color:#ffffff"><i class="fa-solid fa-cart-shopping bx bx-cart-alt" style="font-size:25px"></i></a></p>';
                        html += '</div>';
                    }
                    $('.products').html(html);
                    Pagination(res.CurrentPage, res.NumberPages, res.PageSize);
                } else {
                    $('.products').html('<p class="name" style="color: #fa6e4f; font-size:22px">Hiện chưa có sản phẩm!</p>');
                    $('.pagination').html('');
                }
            }
        });
    }
    $(document).on('click', '.view-link', function() {
    var id = $(this).data('id');
    ShowDetailProduct(id);
    return false;
});
    //Chi tiết sp
    /*function ShowDetailProduct(id) {
        $.ajax({
            url: '/Home/ChitietSP',
            type: 'GET',
            data: { id: id},
            success: function (res) {
                
                var items = res.Data;
                var html = "";
                    
                $('.detailContent').html(html);
                    
                
            }
        });
    }*/

        // Chi tiết sp
        function ShowDetailProduct(id) {
            $.ajax({
                url: '/Home/ChitietSP',
                type: 'GET',
                data: { id: id },
                success: function (res) {
                    var product = res;
                    var html = '<div class="row-product">' +
                        '<div class="col col-img"><img src="' + product.product_image + '" id="detail-img"></div>' +
                        '<div class="col col-info">' +
                        '<h2 id="detail-name">' + (product.product_name ? product.product_name : '') + '</h2>' +
                        '<p id="detail-price">' + (product.product_price ? product.product_price + ' VND' : '') + '</p>' +
                        '<p id="detail-ingredients">Thành phần chính: ' + (product.product_ingredients ? product.product_ingredients : '') + '</p>' +
                        '<p id="detail-description">Miêu tả: ' + (product.product_description ? product.product_description : '') + '</p>' +
                        '<div class="availability">' +
                        '<div class="available">' +
                        '<span>Có sẵn: </span>' +
                        '<span id="quantity-available">' + (product.quantity ? product.quantity : '') + '</span>' +
                        '</div>' +
                        '<div class="out-of-stock">' +
                        '<span>Hết hàng</span>' +
                        '</div>' +
                        '</div>' +
                        '<div class="quantity">'+
                        '<button id="decrement">-</button>'+
                        '<div class="quantity-input">'+
                        '<input type="number" id="quantity" value="1" min="1" max="' + product.quantity +'">'+
                        '</div>'+
                        '<button id="increment">+</button>'+
                        '</div>'+
                        '<button id="addToCart">Thêm vào giỏ hàng</button>' +
                        '</div>' +
                        '</div>';

                    $('.detailContent').html(html);

                    // Kiểm tra số lượng sản phẩm có sẵn và hiển thị trạng thái tương ứng
                    if (product.quantity > 0) {
                        $('.available').show();
                        $('.out-of-stock').hide();
                    } else {
                        $('.available').hide();
                        $('.out-of-stock').show();
                    }
                }
            });
        }



    //Phân trang
    function Pagination(currentPage, numberPages, pageSize) {
        if (numberPages > 0) {
            var str = '';
            if (currentPage != 1) {
                str += '<li class="page-item"><a class="page-link" onclick="NextPage(' + (currentPage - 1) + ',' + pageSize + ')" href="javascript:void(0);">Trước</a></li>';
            }

            for (let i = 1; i <= numberPages; i++) {
                if (currentPage === i) {
                    str += '<li class="page-item active"><a class="page-link" href="javascript:void(0);">' + i + '</a></li>';
                }
                else {
                    str += '<li class="page-item"><a class="page-link" onclick="NextPage(' + i + ',' + pageSize + ')" href="javascript:void(0);">' + i + '</a></li>';
                }
            }
            if (currentPage != numberPages)
                str += '<li class="page-item"><a class="page-link" onclick="NextPage(' + (currentPage + 1) + ',' + pageSize + ')" href="javascript:void(0);">Sau</a></li>';
            $('.pagination').html(str);
        }
    }

    //Load lại danh mục sp ở phân trang
    function NextPage(page, pageSize) {
        var id = $('.active-category').data('id'); // Lấy giá trị id từ danh mục sản phẩm được chọn
        LoadData(id, page, pageSize);
    }

    </script>
}
