@{
    ViewBag.Title = "Sản phẩm";
}
<main>
    <!--Phần chi tiết sản phẩm-->
    <div class="detail-bg" style="display:none;">
        <div class="close-icon"><i class="fas fa-times"></i></div>
        <div class="detailContent">
            
        </div>
    </div>


    <!--Phần danh mục sản phẩm và các sản phẩm-->
    <div class="row">
        <div class="col-md-3">
            <!-- Sidebar -->
            <div class="sidebar">
                <div class="sidebar_title">
                    <h5>Danh mục sản phẩm</h5>
                </div>
            </div>
            @Html.Action("MenuProduct", "Home")
        </div>
        <div class="col-md-9">
            <!-- Vùng chứa ds sản phẩm và phân trang -->
            <div class="main_content">
                <!--Sản phẩm-->
                <div class="products">
                    <!--//ajax tải các sp (có thể theo loại)-->
                </div>
                <!--Phân trang-->
                <div style="margin-left:70%">
                    <ul class="pagination">
                        <!--ajax phân trang, mặc định mỗi trang hiện 6sp-->
                    </ul>
                </div>
            </div>
        </div>
    </div>

</main>


@section styles {
<style>
    .categoryLink.active-category {
        color: #fa6e4f; /* Màu chữ của danh mục sản phẩm đang được chọn */
    }
</style>
}

@section scripts{
    <script>
    $(document).ready(function () {
        LoadData(null, 1, 6);

        $('.categoryLink').click(function () {
            $('.categoryLink').removeClass('active-category');
            $(this).addClass('active-category');
            var categoryId = $(this).data('id');
            LoadData(categoryId, null, null);
        });

    });

   
    function LoadData(id, page, pageSize) {
        $.ajax({
            url: '/Home/HienThiSP',
            type: 'GET',
            data: { id: id, page: page, pageSize: pageSize },
            success: function (res) {
                if (res.TotalItems > 0) {
                    var items = res.Data;
                    var html = "";
                    for (let i = 0; i < res.Data.length; i++) {
                        html += '<div class="product" data-id="' + items[i].product_id + '">'
                        html += '<img src="' + items[i].product_image + '" alt="' + items[i].product_name + '">';
                        html += '<p class="name" style="color: #fa6e4f">' + items[i].product_name + '</a></p>';
                        html += '<p class="price"><span>' + items[i].product_price + ' vnđ</span></p>';
                        if (items[i].product_ingredients !== null) {
                            html += '<p class="ingredients"> Thành phần: ' + items[i].product_ingredients + '</p>';
                        }
                        html += '<p class="view"><a href="#" class="view-link" data-id="' + items[i].product_id + '" style="color:#ffffff">Xem chi tiết</a></p>';
                        html += '<p class="cart"><a href="#" style="color:#ffffff">Mua ngay</a></p>';
                        html += '</div>';
                    }
                    $('.products').html(html);
                    Pagination(res.CurrentPage, res.NumberPages, res.PageSize);
                } else {
                    $('.products').html('<p class="name" style="color: #fa6e4f; font-size:22px">Hiện chưa có sản phẩm!</p>');
                    $('.pagination').html('');
                }
            }
        });
    }
    $(document).on('click', '.view-link', function() {
    var id = $(this).data('id');
    ShowDetailProduct(id);
    return false;
});
  
  // Chi tiết sp
  function ShowDetailProduct(id) {
      $.ajax({
          url: '/Home/ChitietSP',
          type: 'GET',
          data: { id: id },
          success: function (res) {
              var product = res;
              var html = '<div class="row-product">'
                  html+='<div class="col col-img"><img src="' + product.product_image + '" id="detail-img"></div>'
                  html+= '<div class="col col-info">' 
                  html+= '<h2 id="detail-name">' + product.product_name + '</h2>' 
                  html+= '<p id="detail-price">' + product.product_price + ' vnđ' + '</p>' 
                  if (product.product_ingredients) {
                      html += '<p id="detail-ingredients">Thành phần chính: ' + product.product_ingredients + '</p>';
                  }
                  if (product.product_description) {
                      html += '<p id="detail-description">Miêu tả: ' + product.product_description + '</p>';
                  }
                  html+= '<div class="availability">' 
                  html+= '<div class="available">' 
                  html+= '<span id="quantity-available"> Có sẵn: ' + product.quantity + '</span>' 
                  html+= '</div>'
                  html+= '<div class="out-of-stock">'
                  html+= '<span>Hết hàng</span>' 
                  html+= '</div>' 
                  html+= '</div>' 
                  html+= '<div class="quantity">'
                  html+= '<button id="decrement">-</button>'
                  html+= '<div class="quantity-input">'
                  html+= '<input type="number" id="quantity" value="1" min="1" max="' + product.quantity +'">'
                  html+= '</div>'
                  html+= '<button id="increment">+</button>'
                  html+= '</div>'
                  html+= '<button id="addToCart">Thêm vào giỏ hàng</button>' 
                  html+= '</div>' 
                  html+='</div>';

              $('.detailContent').html(html);
              // Hiển thị phần chi tiết sản phẩm
              $('.detail-bg').css('display', 'block');

              // Kiểm tra số lượng sản phẩm có sẵn và hiển thị trạng thái tương ứng
              if (product.quantity > 0) {
                  $('.available').show();
                  $('.out-of-stock').hide();
              } else {
                  $('.available').hide();
                  $('.out-of-stock').show();

                  // Ẩn quantity và nút mua
                  $('.quantity').hide();;
                  $('#addToCart').hide();

              }

              //nút tăng giảm số lượng
               const quantityInput = document.getElementById("quantity");
               const incrementButton = document.getElementById("increment");
               const decrementButton = document.getElementById("decrement");

               incrementButton.addEventListener("click", () => {
                    quantityInput.stepUp(1);
               });

               decrementButton.addEventListener("click", () => {
                    if (quantityInput.value > 1) {
                        quantityInput.stepDown(1);
                    }
               });
            }
      });
  }



    //Phân trang
    function Pagination(currentPage, numberPages, pageSize) {
        if (numberPages > 0) {
            var str = '';
            if (currentPage != 1) {
                str += '<li class="page-item"><a class="page-link" onclick="NextPage(' + (currentPage - 1) + ',' + pageSize + ')" href="javascript:void(0);">Trước</a></li>';
            }

            for (let i = 1; i <= numberPages; i++) {
                if (currentPage === i) {
                    str += '<li class="page-item active"><a class="page-link" href="javascript:void(0);">' + i + '</a></li>';
                }
                else {
                    str += '<li class="page-item"><a class="page-link" onclick="NextPage(' + i + ',' + pageSize + ')" href="javascript:void(0);">' + i + '</a></li>';
                }
            }
            if (currentPage != numberPages)
                str += '<li class="page-item"><a class="page-link" onclick="NextPage(' + (currentPage + 1) + ',' + pageSize + ')" href="javascript:void(0);">Sau</a></li>';
            $('.pagination').html(str);
        }
    }

        //Tắt phần nd chi tiết
        // Lấy biểu tượng "x" và phần tử "detail-bg"
        const closeIcon = document.querySelector('.close-icon');
        const detailbg = document.querySelector('.detail-bg');

        // Gắn sự kiện click cho biểu tượng "x"
        closeIcon.addEventListener('click', function () {
            // Ẩn/tắt "detail-bg" khi nhấn vào biểu tượng "x"
            detailbg.style.display = 'none';
        });

    //Load lại danh mục sp ở phân trang
    function NextPage(page, pageSize) {
        var id = $('.active-category').data('id'); // Lấy giá trị id từ danh mục sản phẩm được chọn
        LoadData(id, page, pageSize);
    }

    </script>
}
