@{
    ViewBag.Title = "Review";
}
<main>

    <div class="con-review">
        <div class="review">
            <div class="review-text">
                <div class="user-text">
                    <i class="fa-regular fa-message"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <span>JERRY CUTE</span>
                </div>
                <div class="user-text active-text">
                    <i class="fa-regular fa-message"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <span>Trin trin</span>
                </div>
                <div class="user-text">
                    <i class="fa-regular fa-message"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <span>JERRY CUTE</span>
                </div>
                <div class="user-text">
                    <i class="fa-regular fa-message"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <span>JERRY CUTE</span>
                </div>
                <div class="user-text">
                    <i class="fa-regular fa-message"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <span>JERRY CUTE</span>
                </div>
            </div>

            <div class="review-pic">
                <img src="~/Content/assets/images/ava.png" class="user-pic" onclick="showReview()">
                <img src="~/Content/assets/images/ava.png" class="user-pic active-pic" onclick="showReview()">
                <img src="~/Content/assets/images/ava.png" class="user-pic" onclick="showReview()">
                <img src="~/Content/assets/images/ava.png" class="user-pic" onclick="showReview()">
                <img src="~/Content/assets/images/ava.png" class="user-pic" onclick="showReview()">

            </div>
        </div>
    </div>
</main>

@section scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("searchButton").addEventListener("click", function () {
                var keyword = document.getElementById("searchInput").value.trim();
                var url = "/Home/ResultFind?keyword=" + encodeURIComponent(keyword);
                window.location.href = url;
            });

            document.getElementById("searchInput").addEventListener("keypress", function (event) {
                if (event.key === 'Enter') {
                    var keyword = document.getElementById("searchInput").value.trim();
                    var url = "/Home/ResultFind?keyword=" + encodeURIComponent(keyword);
                    window.location.href = url;
                }
            });
        });
    </script>
}
