
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    <p>Bạn vừa mua hàng thành công!</p>
    <p>Quý khách vui lòng đợi nhân viên liên hệ để xác nhận đơn hàng</p>
    <p>Hoặc có thể liên hệ hotline:09xxxxxxxxxx</p>
</div>