@model List<Doan.DAL.catetory>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>DANH MỤC SẢN PHẨM</h2>
<div class="container-fluid px-4">
    <div class="card mb-4">
        <div class="card-header">            
            <a href="../Admin/AddCategory" class="btn btn-info pull-right fa-table fa-plus">Tạo danh mục mới</a>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã danh mục</th>
                        <th>Tên danh mục</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>STT</th>
                        <th>Mã danh mục</th>
                        <th>Tên danh mục</th>
                        <th>Thao tác</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(Model.IndexOf(item)+1)</td>
                            <td>@item.catetory_id</td>
                            <td>@item.catetory_name</td>
                            <td>@Html.ActionLink("Cập nhật", "CategoryEdit", new { category_id = item.catetory_id })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>